.footer {
    margin-top : auto;
    height: 100px;
    background-color: #E7E7E7;
}

.content {
    width : 96%;
    max-width: 1100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

@font-face {
    font-family: 'YouandiModernTR';
    src: url('C:\\Users\\user\\AppData\\Local\\Microsoft\\Windows\\Fonts\\fontYouandiModernTR.ttf');
    font-weight: 600;
  }
  
  .title {
    font-family: 'YouandiModernTR', sans-serif;
    font-size: 20px;
    font-weight: 600;
  }