.login-logo {
  max-width: 200px;
  max-height: 70px;
  margin-top: 10px;
  cursor: pointer;
}

.find {
  margin: 15px;
}

.input-login {
  width: 350px;
  height: 15px;
  border-radius: 5px;
  background-color: #C8C8C8;
  border: none;
  padding: 20px;
  font-size: 20px;
  outline: none;
  font-family: 'YouandiModernTR', sans-serif;
}


.input::placeholder {
  color: #888888;
  font-size: 20px;
  font-family: 'YouandiModernTR', sans-serif;
}

.login-h2 {
  font-size: 43px;
  margin: 60px;
}

.error-msg {
  font-size: 15px;
  font-weight: 10;
  color: #AEAEAE;
  padding :5px;
}

.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signin {
  width: 390px;
  height: 45px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  background-color: #D1E0F3;
  color: #9DA7B2;
  font-family: 'YouandiModernTR', sans-serif;
  margin: 20px;
  transition: background-color 0.3s ease; /*부드럽게*/
}

.signin:hover {
  cursor: pointer;
  color: #798087;
  background-color: #b8d0ef;
}


.signup {
  color: #2A5C96;
  cursor: pointer;
}

.login-find {
  cursor: pointer;
}

.find-message {
  color: #2A5C96;
}


.login-find-under {
  cursor: pointer;
  text-decoration : underline;
}

.passwordReset-centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.code-button {
  width: 90px;
  height: 45px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background-color: #f5f5f5;
  color: #9DA7B2;
  font-family: 'YouandiModernTR', sans-serif;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left : 150px;
}

.reset-pass {
  width: 390px;
  height: 45px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  background-color: #e9e9e9;
  color: #9DA7B2;
  font-family: 'YouandiModernTR', sans-serif;
  cursor: pointer;
  margin-top: 20px;
  justify-content: flex-end;
  align-items: center;
}

.little-move {
  margin: 10px;
}