.likeheadermargin{
    margin-top: 150px; /* Header의 높이와 적절히 조정 */
    margin-left: 280px;
    margin-right: 100px;
  }
  
.box-margin {
    margin : 30px;
}

.likebook-h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}