.admin-rentinfo-index {
    font-size: 25px; /* 숫자 텍스트 크기 조정 */
    margin-right: 45px;
}

.return-button {
    background-color: #E7E7E7;
    width:95px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-family: 'YouandiModernTR', sans-serif;
    font-size : 16px;
    cursor : pointer;
    letter-spacing :10px;
    padding-left: 15px;
    align-items: center;
}

.red-Latedays {
    color: #C43927;
}

.book-delete-button {
    background-color: #595959;
    width:95px;
    color: white;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-family: 'YouandiModernTR', sans-serif;
    font-size : 16px;
    cursor : pointer;
    letter-spacing :10px;
    padding-left: 15px;
    align-items: center;
    margin-left: 10px;
}

.bookInfo-flex {
    display: flex;
}

.category-type-color {
    color: #00448D;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 20px;
}

.margin-check {
    margin-left: 10px;
  }