.reserve-button {
    background-color:transparent;
    width: 120px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #000000;
    font-family: 'YouandiModernTR', sans-serif;
    font-size : 20px;
    cursor : pointer;
}

.rent-button {
    background-color: #E7E7E7;
    width: 120px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-family: 'YouandiModernTR', sans-serif;
    font-size : 20px;
    cursor : pointer;
}