.headercategoryline{
  margin-top: 150px; /* Header의 높이와 적절히 조정 */
  margin-left: 280px;
}


.best-seller {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-left: 35%;
    margin-bottom: 50px;
}

.autoever{
    color: #00448D;
}


.numbered-list {
    counter-reset: list-counter;
  }

.numbered-list li {
  counter-increment: list-counter;
  list-style-type: none;
  margin-bottom: 40px;
}
